body {
  height: 100vh;
  margin: 10vh auto 0;
  background: 
    linear-gradient(rgba(247, 178, 103, 0.95), rgba(247, 178, 103, 0.95)),
    url(../assets/tiger-print.jpeg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0 auto;
}

/* Game container */
.game-container {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  padding: 9px;
  width: 500px;
  height: 600px;
  border-radius: 4%;
  background-color: #F27059;
}

/* Top bar: countdown, button and timer */
.top-bar {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 15px;
}

.joe-count {
  border: 2px solid black;
}

button {
  background-color: pink;
  cursor: pointer;
}

.timer {
  border: 2px solid black;
}

/* Game grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 12px;
  height: 85%;
  width: 95%;
  border: 1px solid rgb(192, 72, 66);
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #F4845F;
  border: 1px solid rgb(192, 72, 66);
  height: 10.75%;
  width: 10%;
  font-size: 30px;
}

.grid div.joe {
  background: url(../assets/joe-exotic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styling for unclicked cells */
.grid div.unclicked {
  background-color: #F25C54;
  color: transparent;
}

.grid div.joe.unclicked {
  background: linear-gradient(rgba(242, 92, 84, 1), rgba(242, 92, 84, 1));
}

/* Flagged cell styling */
.grid div.unclicked.flagged {
  background: 
  url(../assets/tiger-print.jpeg),
  linear-gradient(rgba(242, 92, 84, 1), rgba(242, 92, 84, 1));
  background-size: contain;
}