body {
  height: 100vh;
  margin: 0;
}

/* Game container */
.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 10vh auto 0;
  border: 2px solid black;
  width: 500px;
  height: 600px;
}

/* Top bar: countdown, button and timer */
.top-bar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid black;
}

.joe-count {
  border: 2px solid black;
}

button {
  background-color: pink;
  cursor: pointer;
}

.timer {
  border: 2px solid black;
}

/* Game grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 12px;
  height: 85%;
  width: 95%;
  border: 1px solid lightcoral;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 1px solid yellowgreen;
  height: 10.75%;
  width: 10%;
}

.grid div.unclicked {
  color: transparent;
  /* border: 1px solid yellowgreen; */
}

.grid div.joe {
  background-image: 
    /* linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) */
    url(../assets/joe-exotic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}